#skill1 {
    position: absolute;
    top:0;
    right: 75px;

    width: 775px;
    background-image: url(../images/main_arrow_en.png);
    background-position: 255px 50px;
}
#skill1 > h3 {
    margin: 20px 80px auto 30px;
    width: 4rem;
}
#skill1 > ul {
    margin: 20px 0px 20px 0;
}
#skill1 > ul > li:nth-child(1) {width: 95px;}
#skill1 > ul > li:nth-child(2) {width: 195px;}
#skill1 > ul > li:nth-child(3) {width: 78px;}

#skill2 {
    background-image: url(../images/main_list_disc.png);
    background-position: 50px 85px;
}
#skill2 > ul {
    font-size: 14px;
    margin-left: 12px;
    line-height: 1.6;
}
#skill2 > ul > li:not(:last-child) {
    margin-bottom: 7px;
}
#skill3 > h3 {
    background-position-x: 155px;
}

#journey > ul > li:nth-child(1) {
    padding-top: 260px;
}