
body {
    background-image: url(../images/background_pink.jpg);
    background-size: cover;
    font-family: 'Noto Sans KR', 'San-Serif';
    color: #333;
}

/* 흰색 페이지 */
#page {
    background-color:#fffafa;
    width: 1400px;
    border-radius: 40px;

    margin: 50px auto 20px auto;
    overflow: hidden;
}
/* 헤더영역 */
#header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border-bottom: 2px solid #ffacac;
    padding: 35px;
    padding-bottom: 0;
}

#header > h1 {
    width: 200px;
    padding-left: 20px;
    padding-top: 10px;
    animation: slideright 1s;
}
#header > h1 > a {
    display: block;
}

#header > h1 > a > img {
    display: block;
    width: 100%;
}


/* Home 글자 브라우저 화면에서 숨기고, 스크린 리더기에서는 보이도록 설정 */
#header > h1 > a > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

/* language 버튼 */
#header > div > a {
    text-align: right;
    margin-bottom: 28px;

    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;

    animation: slideleft 1s ;
}

/* 메뉴 버튼 */
#toggle {display: none;}

#menu {display: flex;}

/* #header > div > ul > li { */
#menu > li {
    font-size: 20px;
    border: 2px solid #ffacac;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    margin-left: -1px;
    overflow: hidden;

    padding: 10px 10px 5px 10px;
}

#menu > li:first-child {
    border-bottom: 4px solid #fffafa;
    margin-bottom: -3px;
}

#menu > li > a {
    display: block;

    text-decoration: none;
    color: #333;
    animation: slideup 1s;
}

@keyframes slideup {
    from {transform: translateY(40px);}
    to {transform: translateY(0);}
}

@keyframes slideright {
    from {transform: translateX(-400px);}
    to {transform: translateX(0);}
}
@keyframes slideleft {
    from {transform: translateX(100px);}
    to {transform: translateX(0);}
}
/* 폭 고정 */
#fix {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* h2요소들 공통 스타일 속성 */
.h2 {
    font-family: 'Sabon','Times New Roman', serif;
    font-size: 50px;
    font-weight: 600;
    margin-left : 40px;
    margin-bottom: 50px;
    color: #333;
}

/* section 1 - 자기소개 영역 */
#introduce > h2 {
    font-family: 'Sabon','Times New Roman', serif;;
    margin-left: 40px;
    display: flex;
    font-size : 60px;
    line-height: 1.8em;
}
#tickerWrap {
    height: 1.8em;
    overflow: hidden;
}
#tickerWrap > ul {
    margin-left: 20px;
    color: #7883c0;
    color: #fcb0b3;
}

#wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    margin: 45px 10px 0 10px;

    /* 3D 요소의 위치지정요소가 될 수 있도록 */
    position: relative;
}
#relative {
    position: relative;
    width: 450px;
    height: 530px;
}
#profile {
    position: absolute;
}
#profile_line {
    position: absolute;
    width: 450px;
    height: 530px;
    padding-top: 22px;
}
#profile_line > path {
    fill: none;
    stroke: #ffc5cf;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 5px;

    stroke-dashoffset: 0;
    stroke-dasharray: 200;

    animation: drawline 5s linear infinite;
}

@keyframes drawline {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1200;
    }
}

/* 명함 flip 효과 */
#cardwrap {
    position: relative;
    width: 600px;
    height: 343px;
}
#namecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 500ms ease;
}
#cardwrap:hover > #namecard {
    transform: rotateY(180deg);
}
#cardfront {
    position: absolute;
    display: block;
    height: 100%;
    backface-visibility: hidden;

    border: 1px solid #cacaca;
    border-radius: 20px;
}
#cardback {
    position: absolute;
    display: block;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    border: 1px solid #cacaca;
    border-radius: 20px;
}
#mobilecard {
    display: none;
}

/* 자기소개 페이지 요소들 배치 */

#donut {
    position: absolute;
    z-index: 1;
    right: -100px;
    bottom: -90px;
    width: 300px;

    animation: floatitem 2s linear infinite;
}

@keyframes floatitem {
    from {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    to {transform: translateY(0);}
}

/* section 2 - skills 영역 */

#aboutme > ul > li > h3 {
    height: 90px;
    background-color: #f9caca;

    font-family: 'Young Serif Regular', serif;
    font-size: 30px;
    color: #fff;

    line-height: 90px;

    padding-left: 75px;
    margin: 10px 50px 0 50px;

    background-repeat: no-repeat;
    background-position: 17px 24px;
    background-size: 40px;

    /* 가상요소의 위치지정요소로 설정 */
    position: relative;
}

#aboutme > ul > li > h3::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #fff transparent transparent transparent;

    position: absolute;
    top: 40px;
    right: 25px;

    z-index: 1;
}
#aboutme > ul > li > h3:hover {
    cursor: pointer;
}
#aboutme > ul > li:first-child  > h3  {
    margin-top: 0;
    background-image: url(../images/main_li_1.png);
}
#aboutme > ul > li:nth-child(2) > h3  {background-image: url(../images/main_li_2.png);}
#aboutme > ul > li:nth-child(3) > h3  {background-image: url(../images/main_li_3.png);}
#aboutme > ul > li:nth-child(4)   > h3 {background-image: url(../images/main_li_4.png);}

.drawspan {
    display: block;
    padding-left: 75px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: #f9caca;

    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: 0.4s;

    background-repeat: no-repeat;
    background-position: 17px 24px;
    background-size: 40px;

    z-index: 2;

    border: 2px solid #f9caca;
    box-sizing: border-box;
}

.clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

#aboutme > ul > li > h3 > span::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #f9caca transparent transparent transparent;

    position: absolute;
    top: 40px;
    right: 25px;
}

#aboutme > ul > li:nth-child(1) > h3 > span {background-image: url(../images/main_li_1_hover.png);}
#aboutme > ul > li:nth-child(2) > h3 > span {background-image: url(../images/main_li_2_hover.png);}
#aboutme > ul > li:nth-child(3) > h3 > span {background-image: url(../images/main_li_3_hover.png);}
#aboutme > ul > li:nth-child(4) > h3 > span {background-image: url(../images/main_li_4_hover.png);}


/* dropslide 메뉴 처음에는 보이지 않도록 설정 */
.dropslide {
    background-color: #fff;

    border : 1px solid #b2b1b9;
    border-top: none;
    padding: 60px 0 60px 60px;
    margin: 0 50px;

    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 16px;
    animation: showdelay 2s;
}

@keyframes showdelay {
    from {opacity: 0};
    50% { opacity: 0};
    to {opacity : 1};
}

#education {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 40px;
}

#education > img {
    max-width: 350px;
    animation: show 1.6s;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}
#education > ul {
    width: 400px;
}

#education > ul > li {
    margin-bottom: 40px;
    line-height: 1.4;
    font-size: 20px;
}

#education > ul > li:last-child {
    margin-bottom: 0;
}

.edu {
    display: flex;
    gap: 30px;
    height: 100px;
    margin-bottom: 20px;
}
.years {
    font-family: 'Sabon','Times New Roman', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}
.school {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.school > span:first-child:after {
    content: "";
    display: block;
    border-bottom: 2px solid #A4A4AB;
    width: 250px;
    height: 15px;

    animation: toright1 2s ;
}
.status {
    font-size: 17px;
    margin-top: 18px;
    padding-left: 10px;
}

@keyframes toright1 {
    from {width: 0; opacity: 0.4;}
    to {width: 250px; opacity: 1;}
}
@keyframes toright2 {
    from {width: 0; opacity: 0.4;}
    to {width: 420px; opacity: 1;}
}

/* ------------------------------ */
#experience {
    padding-left: 100px;
}
.exp {
    display: flex;
    gap: 30px;
    height: 180px;
    margin-bottom: 20px;
}

.exp:first-of-type {
    margin-top: 40px;
}
.exp:last-of-type {
    height: 100px;
}

.exp > p.time {
    font-family: 'Sabon','Times New Roman', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}
.exp > p.info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.edu > div {
    margin-top: 10px;
}

.pseudooff {
    width: 6px;
    height: 6px;
    border: 1px solid #ffacac;
    border-radius: 50%;

    margin-top: 5px;
}

.pseudoon {
    width: 6px;
    height: 6px;
    border: 1px solid #ffacac;
    border-radius: 50%;

    margin-top: 5px;

    background-color: #ffacac;
    box-shadow: 0px 0px 4px 5px #ffacac;

    transition-duration: 200ms;
}

.info > span.company {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.info > span.company::after {
    content: "";
    display: block;
    border-bottom: 2px solid #A4A4AB;
    width: 420px;
    height: 15px;

    animation: toright2 2s;
}

.info > span.region {
    font-size: 17px;
    margin-bottom: 18px;
    padding-left: 10px;
}
.info > span.role {
    font-size: 16px;
    padding-left: 10px;
}

#personal {
    padding: 50px 120px;
}
#personal > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#personal > ul > li {
    font-size: 18px;
    line-height: 2.8;
    border: 1px solid #A4A4AB;
    border-radius: 30px;

    padding: 0 25px 0 65px;

    background-repeat: no-repeat;
    background-position: 23px;
    background-size: 30px;
}

#personal > ul > li:nth-child(1){background-image: url(../images/main_eng.png);}
#personal > ul > li:nth-child(2){background-image: url(../images/main_teamwork.png);}
#personal > ul > li:nth-child(3){background-image: url(../images/main_communication.png);}
#personal > ul > li:nth-child(4){background-image: url(../images/main_creativity.png);}
#personal > ul > li:nth-child(5){background-image: url(../images/main_adaptation.png);}

#tools {
    padding: 50px 60px;
}
#tools > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* section 3 - Works */
#works {
    margin-top: 150px;
}
#works > h3 {
    width: 660px;
    height: 3.2em;
    margin: 0 auto;

    font-size: 35px;
    font-weight: 500;
    text-align: center;
    line-height: 3.2em;
}
/* wheel 회전목마 -> mobile_index.css에 미디어 쿼리를 이용해 작성 */

/* section 4 - projects */
.titles {
    width: 1100px;
    height: 60px;
    border-top: 2px solid #ffacac;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;

    display: flex;
    color: #ffacac;
    font-size: 25px;
    line-height: 60px;
    background-image: url(../images/logo_plus.png);
    background-repeat: no-repeat;
    background-position: 1060px 19px;

    cursor: pointer;
}
.date {
    width: 600px;
}
#screenwrap {
    /* screen 요소들의 위치지정요소로 설정 */
    position: relative;
}
.dropslide2 {
    display: flex;
    gap: 100px;

    padding: 40px;
    margin: 0 30px;

    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 18px;
    animation: showdelay 2s;
}
#coverscreen {
    width: 500px;
    height: 240px;
    background-color: #000;

    position: absolute;
    z-index: 1;
}
#coverscreen > img {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 50%;
    left: 50%;

    animation: rotate 3s infinite;
}
@keyframes rotate {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    50% {transform: translate(-50%, -50%) rotate(180deg);}
    55% {transform: translate(-50%, -50%) rotate(180deg);}
    95% {transform: translate(-50%, -50%) rotate(360deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}
#coverscreen:before {
    content: "";
    display: block;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/click_logo.png);
    background-repeat: no-repeat;
    animation: float 4s linear infinite;
}
@keyframes float {
    from {margin-top: 0;}
    50% {margin-top: 5px;}
    to {margin-top: 0;}
}
#hiddenscreen {
    width: 500px;
    height: 240px;
    overflow: scroll;
    position: relative;
}
#hiddenscreen:before {
    content: "";
    display: block;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/scroll_logo.png);
    background-repeat: no-repeat;
}
/* 스크롤바 안 보이게 설정 */
#hiddenscreen::-webkit-scrollbar {display: none;}

#silicagel > div > div > div.scrollscreen {
    background-color: #000;
    overflow: hidden;
}
.scrollscreen {
    width: 500px;
    height: 240px;
    position: relative;
    overflow: scroll;
    margin-top: 15px;
}
.scrollscreen::-webkit-scrollbar {display: none;}

.scrollscreen > img {
    width: 100%;
}
.fixscreen {
    width: 500px;
    height: 240px;
    overflow: hidden;
    margin-top: 15px;
}
.fixscreen > img {
    width: 100%;
}
/* 실리카겔 photodump */
#photodump {
    position: absolute;
    width: 90%;
    height: 217.22%;
    margin: 0 5%;

    top: 0;
}
.dump1{
    animation: photoscroll 10s linear infinite;
}
.dump2 {
    animation: photoscroll2 20s linear infinite;
}
@keyframes photoscroll {
    from {top: 0;}
    to {top: -217.22%;}
}
@keyframes photoscroll2 {
    from {top: 217.22%;}
    50% {top: 0;}
    to {top: -217.22%;}
}
#photodump > img {
    position: absolute;
}
#photodump > img:nth-child(1) {width: 38%; top: 0; left: 0;}
#photodump > img:nth-child(2) {width: 27%; top: 15%; left: 34%;}
#photodump > img:nth-child(3) {width: 18%; top: 31%; right: 24%;}
#photodump > img:nth-child(4) {width: 23%; top: 35%; right: 0;}
#photodump > img:nth-child(5) {width: 37%; top: 43%; right: 31%;}
#photodump > img:nth-child(6) {width: 29%; top: 54%; left: 0;}
#photodump > img:nth-child(7) {width: 29%; top: 63%; right: 24%;}
#photodump > img:nth-child(8) {width: 24%; top: 72%; left: 15%;}
#photodump > img:nth-child(9) {width: 29%; bottom: 0; left: 0;}


/* 테두리 필요한 project screen */
.borderscreen {
    border: 1px solid #d0d0d0;
}
.projectdetail > ul > li {
    margin-bottom: 30px;
}
.projecttype {
    display: flex;
}
.projecttype > div {
    border: 1px solid #a0a0a0;
    border-radius: 30px;
    padding: 5px 13px;
    margin-right: 15px;
    line-height: 25px;
}
.detailwrap {
    display: flex;
    gap: 50px;
}
.h4 {
    font-size: 20px;
    margin-bottom: 15px;
}
.concept {
    width: 200px;
}
.circlewrap {
    display: flex;
    gap: 10px;
}
.coloredcircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#silicagel div.coloredcircle:nth-of-type(1) {
    background-color: #fff;
    border: 1px solid #d0d0d0;
}
#silicagel div.coloredcircle:nth-of-type(2) {background-color: #d0d0d0;}
#silicagel div.coloredcircle:nth-of-type(3) {background-color: #333;}

#tokyo div.coloredcircle:nth-of-type(1) {background-color: #dddddd;}
#tokyo div.coloredcircle:nth-of-type(2) {background-color: #ea94de;}
#tokyo div.coloredcircle:nth-of-type(3) {background-color: #825ede;}

#semamuseum div.coloredcircle:nth-of-type(1) {background-color: #f6f6f6;}
#semamuseum div.coloredcircle:nth-of-type(2) {background-color: #bcbcbc;}
#semamuseum div.coloredcircle:nth-of-type(3) {background-color: #0c0c0c;}

.tools > ul {
    display: flex;
}
.tools > ul > li {
    border: 1px solid #a0a0a0;
    border-radius: 30px;
    padding: 5px 13px;
    margin-right: 10px;
    line-height: 25px;
}
.services > p {
    width: 95%;
    line-height: 1.6;
}

.projectdetail > button {
    border: transparent;
    background-color: transparent;

    margin-top: 50px;
}

.projectdetail > button > a{
    background-image: url(../images/next_logo.png);
    background-repeat: no-repeat;
    background-position: 180px;
    padding: 15px 45px 13px 20px;
    border: 2px solid #ffacac;
    border-radius: 40px;
    color: #ffacac;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
}

.projectdetail > button > a:hover {
    background-color: #ffacac;
    color: #fff;
    background-image: url(../images/next_logo_white.png);
}


/* section 5 - email */
#email > h3 {
    font-family: 'Sabon','Times New Roman', serif;
    font-size: 50px;
    font-weight: 600;
    margin-left : 40px;
    margin-bottom: 50px;
    color: #303030;
}

#contact > ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #ffacac;
    background-color: #fffafa;
    border: 2px solid #ffacac;
    border-right: none;
    border-left: none;
    padding-left: 10px;

    /* 페이지의 양쪽 끝에 붙도록 */
    margin-left: -100px;
    margin-right: -100px;
}

#contact > ul > li > a {
    /* a 요소의 기본 스타일 속성 제거 */
    font-weight: 400;
    text-decoration: none;
    color: #ffacac;

    margin-right: 45px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
#contact:hover {
    cursor: pointer;
}

#rolling {
    display: flex;
    animation: marquee 10s linear infinite;
    background-color: #ffacac;

    /* 페이지의 양쪽 끝에 붙도록 */
    margin-left: -100px;
    margin-right: -100px;
}
#rolling > p {
    margin-right: 45px;
    font-size: 30px;
    text-align: center;
    line-height: 2;
}
#rolling > p > a {
    text-decoration: none;
    color: #fffafa;
}

@keyframes marquee {
    to {margin-left: -100% ;}
}
#rolling:hover {
    animation-play-state: paused;
    background-color: #fffafa;
    cursor: pointer;
}
#rolling:hover > p > a {
    color: #ffacac;
}

/* 푸터영역 */
#footer {
    height: 100px;

    position: relative;
    z-index: 1;
}
#footer > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
#footer > ul > li {
    width: 57px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}
#footer > ul > li:nth-child(1) {background-image: url(../images/footer_insta.png);}
#footer > ul > li:nth-child(2) {background-image: url(../images/footer_pinterest.png);}
#footer > ul > li:nth-child(3) {background-image: url(../images/footer_github.png);}
#footer > ul > li:nth-child(4) {background-image: url(../images/footer_mail.png);}
#heart {
    width: 50px; height: 100%;
    box-sizing: border-box;
}
#heart > path {
    fill: transparent;
    stroke-width: 2px;
    stroke: #d7443e;
}
#heart:hover > path {
    animation: fillheart 3s infinite;
    cursor: pointer;
}
@keyframes fillheart {
    0%,50%,100% {fill: transparent;}
    25%,75% {fill: #d7443e;}
}
#footer > ul > li > a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* SNS 글자 브라우저 화면에서 숨기고, 스크린 리더기에서는 보이도록 설정 */
#footer > ul > li > a > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}



@media screen and (min-width: 768px) and (max-width: 1599px) {
    /* 흰색 페이지 */
    #page {
        width: 1200px;
    }

    /* 헤더는 그대로 유지 */

    /* 폭 고정 */
    #fix {
        width: 1000px;
    }

    /* h2요소들 공통 스타일 속성 */

    /* profile 크기 조정 */
    #relative {
        width: 350px;
        height: 411px;
    }
    #profile {
        width: 350px;
    }
    #profile_line {
        width: 350px;
        height: 411px;
    }
    #cardwrap {
        width: 500px;
        height: 285.83px;
    }
    #donut {
        width: 250px;
    }

    /* section 2 - skills 영역 */
    #aboutme > ul > li > h3 {
        height: 80px;
        line-height: 80px;
        background-position: 17px 20px;
    }
    #aboutme > ul > li > h3::after {
        top: 35px;
    }
    .drawspan {
        background-position: 17px 20px;
    }
    #aboutme > ul > li > h3 > span::after {
        top: 35px;
    }

    /* section 4 - project 영역 */
    .titles {
        width: 1000px;
        padding: 0 20px 0 45px;

        background-position: 970px 22px;
    }
    .date {
        width: 500px;
    }
    #coverscreen {
        width: 450px;
        height: 216px;
    }
    #hiddenscreen {
        width: 450px;
        height: 216px;
    }
    #hiddenscreen > img {
        width: 100%;
    }
    #hiddenscreen:before {
        left: 50%;
    }

    .scrollscreen {
        width: 450px;
        height: 216px;
    }
    .fixscreen {
        width: 450px;
        height: 216px;
    }
    .dropslide2 {
        padding: 40px 20px;
        gap: 55px;
    }
} /* media query (769px < 뷰포트 너비 < 1600px ) */