#education > ul > li {
    height: auto;
}

#education > ul > li > p.years {
    font-size: 24px;
}

.info > span.company {
    line-height: 1.8;
    margin-top: -10px;
}
.info > span.company::after {
    width: 500px;
    animation: torighten 2s;
}

@torighten {
    from {width: 0; opacity: 0.4;}
    to {width: 500px; opacity: 1;}
}