@media screen and (max-width: 768px) {
    body {
        /* 웹 스크롤방지 해제 */
        overflow: visible;
    }

    /* 흰색 페이지 */
    #page {
        width: 90%;
        margin: 50px auto;
    }

    /* 헤더영역 */
    #header {
        padding: 20px;
        position: relative;
    }
    #header > h1 {
        width: 50%;
        margin-left: 0;
    }
    #header > div {
        display: flex;
        align-items: center;
    }
    #header > div > a {
        margin-bottom: 0;
        padding: 0;
        margin-right: 20px;
    }
    /* 메뉴버튼 */
    /* 토글메뉴 */
    #toggle {
        display: block;
        width: 40px;
        height: 25px;
        background-image: url(../images/menu_button.png);
        animation: slideleft 1s ;
    }

    #toggle > span {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }
    #menu {
        /* 처음에는 안 보이게 설정 */
        display: none;

        position: absolute;
        top: 100%;
        right: 50%;
        width: 100%;
        margin-right: 20px;
        transform: translate(calc(50% + 20px));
        padding: 15px 0;
        background-color: #ffeeee;
        opacity: 0.8;

        z-index: 100;

        text-align: right;
    }
    #menu > li {
        font-size: 20px;
        line-height: 2em;
        border: none;
        margin-right: 20px;
    }
    #menu > li:nth-child(2) {
        border-bottom: none;
        margin-bottom: 0;
    }
    #menu > li > a {
        color: #202020;
    }
    /*--------------------------------------------------------------------------------------------*/
    #fix {
        width: 100%;
        position: relative;
    }

    /* 스크롤바 안 보이게 설정 */
    #works::-webkit-scrollbar {display: none;}

    #works {
        width: 90%;
        height: auto;
        margin: 50px auto;
        overflow-y: hidden;
    }
    #works > li {
        position: static;
        border: none;
        width: 99%;
        margin-bottom: 40px;
        height: auto;
        transform: none;
    }
    #works > li:last-child {
        margin-bottom: 0;
    }
    #works > li > a {
        border: 1px solid #202020;
        width: 100%;
        height: 100%;
    }
    #works > li > a > img {
        width: 100%;
        border-radius: 20px;
    }
    #works > li:hover {
        transform: none;
    }
    .worksinfo {
        display: block;
    }
    .worksinfo > h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0 5px 0;
    }
    .worksinfo > p {
        font-size: 15px;
    }
    .title {
        font-size: 18px;
        display: block;
        position: absolute;
        top: -25px;
        left: 20px;
    }
    /* 푸터 영역 */
    #footer {
        /* 웹 display:none 해제 */
        display: block;

        background-color: #fff8e9;
        height: 100px;
    }
    #footer > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #footer > ul > li {
        width: 20%;
        max-width: 65px;
        height: 100%;

        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
    #footer > ul > li:nth-child(1) {background-image: url(../images/footer_insta.png);}
    #footer > ul > li:nth-child(2) {background-image: url(../images/footer_pinterest.png);}
    #footer > ul > li:nth-child(3) {background-image: url(../images/footer_github.png);}
    #footer > ul > li:nth-child(4) {background-image: url(../images/footer_mail.png);}

    #footer > ul > li > a {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    #heart {
        width: 70%;
        height: 100%;
        box-sizing: border-box;
    }
    #heart > path {
        fill: transparent;
        stroke-width: 2px;
        stroke: #d7443e;
    }
    #heart:hover > path {
        animation: fillheart 3s infinite;
        cursor: pointer;
    }
    @keyframes fillheart {
        0%,50%,100% {fill: transparent;}
        25%,75% {fill: #d7443e;}
    }

    /* SNS 글자 브라우저 화면에서 숨기고, 스크린 리더기에서는 보이도록 설정 */
    #footer > ul > li > a > span {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }


} /* media query (뷰포트 너비 <= 768px)*/