@media screen and (min-width: 200px) and (max-width: 600px) {
    #preface {
        display: block;
        padding-top: 18px;
        line-height: 1.8;
    }
    #preface > p:first-child::after {
        width: 100px;
        animation: torightmobile 2s;
    }
    @keyframes torightmobile {
        from {width: 0;}
        to {width: 100px;}
    }
    #preface > p {
        padding-left: 40px;
    }
    #background > div > img {
        max-width: 250px;
        max-height: 250px;

        margin-top: 80px;
    }
    #select-box {
        width: 280px;
    }
    #select-box > span {
        font-size: 20px;
    }
    #language > a {
        font-size: 16px;
        width: 120px;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px) {

    #background > div {
        width: 600px;
        height: 700px;
        padding: 25px 0;
    }

    #background > div > img {
        max-width: 400px;
        max-height: 250px;

        margin-top: 80px;
    }
    #select-box {
        width: 400px;
    }
    #select-box > span {
        font-size: 25px;
    }
    #language > a {
        font-size: 20px;
        width: 160px;
    }
}