@media screen and (max-width: 768px) {
    /* 흰색 페이지 */
    #page {
        width: 90%;
        margin: 50px auto;
    }

    /* 헤더영역 */
    #header {
        padding: 20px;
        position: relative;
    }
    #header > h1 {
        width: 50%;
        margin-left: 0;
    }
    #header > div {
        display: flex;
        align-items: center;
    }
    #header > div > a {
        margin-bottom: 0;
        padding: 0;
        margin-right: 20px;
    }
    /* 메뉴버튼 */
    /* 토글메뉴 */
    #toggle {
        display: block;
        width: 40px;
        height: 25px;
        background-image: url(../images/menu_button.png);
        animation: slideleft 1s ;
    }
    #toggle > span {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }
    #menu {
        /* 처음에는 안 보이게 설정 */
        display: none;

        position: absolute;
        top: 100%;
        right: 50%;
        width: 100%;
        margin-right: 20px;
        transform: translate(calc(50% + 20px));
        padding: 15px 0;
        background-color: rgba(223, 204, 251, 0.8);

        text-align: right;
    }
    #menu > li {
        font-size: 20px;
        line-height: 2em;
        border: none;
        margin-right: 20px;
    }
    #menu > li:first-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    #menu > li > a {
        color: #404040;
    }
    .content-box {
        border-width: 1px;
    }

    /* section 1 - 자기소개 */
    #introduce > h2 {
        margin-left: 0;
        font-size: 35px;
        text-align: center;
        display: block;
        overflow: visible;
    }
    #tickerWrap > ul {
        margin-left: 0;
        text-align: center;
        font-size: 30px;
        height: 1.8em;
        line-height: 1.8em;
    }
    #wrap {
        display: block;
        width: 100%;
        margin: 0;
    }
    .relative {
        margin: 0;
    }
    /* profile 사진 */
    /* #wrap > div.relative > img { */
    #profile {
        max-width: 70%;
        display: block;
        margin: 20% auto;
    }
    #wrap > div.content-box {
        width: 80%;
        padding: 5%;
        margin: 0 auto;
        text-align: center;
    }

    #wrap > div > p:nth-of-type(1){
        font-size: 16px;
        line-height: 1.6;
    }

    #wrap > div > p:nth-of-type(2){
        font-size: 25px;
        font-weight: 400;
    }
    /* 자기소개 - 요소들 배치 */
    #blend1 {
        width: 15%;
    }
    #blend2 {
        width: 20%;
        bottom: -50px;
        right: 0;
        animation: blend2 1500ms infinite linear;

    }
    @keyframes blend2 {
        from {transform: translateY(0) rotate(50deg);}
        50% {transform: translateY(-20px) rotate(50deg);}
        to {transform: translateY(0) rotate(50deg);}
    }
    #blend3 {
        width: 20%;
        bottom: -20px;
        left: 15px;
    }
    #blend4 {display: none;}

    /* section 2 - skills 영역 */
    #skill {
        width: 90%;
        height: auto;
    }
    #skill > div.skills {
        position: relative;
    }
    /* section 2 - skills 경험 */
    #skill1 {
        top: 0;
        right: -10%;

        width: 80%;
        display: block;
        padding: 10% 5%;
        background-image: none;
    }
    #skill1 > h3 {
        margin: 0 0 0 10%;
    }
    #skill1 > ul {
        display: block;
    }

    #skill1 > ul > li:nth-child(1),
    #skill1 > ul > li:nth-child(2),
    #skill1 > ul > li:nth-child(3) {
        width: 90%;
        margin-right: 0;
        margin-bottom: 30px;
        padding-left: 15%;
        background-image: url(../images/main_dot.png);
        background-repeat: no-repeat;
        background-position: left top;
    }
    #skill1 > ul > li > span.years {
        text-align: left;
        padding-bottom: 0;
    }
    /* section 2 - skills 교육/학력 */
    #skill2 {
        top: -30px;
        border-radius: 50px;
        width: 70%;
        padding: 10% 5%;
        background-image: none;
    }
    #skill2 > h3 {
        margin-bottom: 30px;
    }
    #skill2 > ul {
        margin-left: 0;
        padding-left: 10px;
    }
    #skill2 > ul > li {
        background-image: url(../images/main_dot.png);
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: 30px;
    }
    /* section 2 - skills 강점 */
    #skill3 {
        width: 70%;
        top: -45px;
        right: -10%;
    }
    /* section 2 - skills 활용 툴 */
    #skill4 {
        width: auto;
        top: -50px;
        right: 0;
        left: 0;
    }
    #skill4 > ul {
        flex-wrap: wrap;
    }

    /* section 3 - journey */
    #journey > div {
        width: 80%;
        margin: 0 auto;
    }
    #journey > ul {
        display: block;
        width: auto;
        margin: 50px auto 0 auto;
    }
    #journey > ul > li {
        margin: 40px auto 0 auto;
    }

    /* section 4 - my work */
    #works > h3 {
        width: 80%;
        font-size: 25px;
    }
    /* 회전목마 > 이미지 슬라이드 */
    /* #wheelWrap {
        width: 80%;
        animation: slide 5000ms linear infinite;
    }
    @keyframes slide {
        to {margin-left: -80%;}
    } */
    #wheel {
        display: flex;
        width: 500%;
        aspect-ratio: 25/6;
        overflow: hidden;
        margin-top: 50px;
        margin-left: 0;
        animation: slide 5000ms linear infinite;
    }
    @keyframes slide {
        from {margin-left: 0;}
        to {margin-left: -100%;}
    }
    #wheel > li.wheel-item {
        width: 20%;
        margin: 0 1%;
    }
    #wheel > li > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    #wheel > li > a > img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    /* section 5 - email */
    #email > h3 {
        font-size: 25px;
    }
    #email > h3 > div {
        background-size: 40px;
        line-height: 2.2;
        margin-top: 15px;
    }
    #email > h3 > div > ul {
        padding-left: 60px;
    }
    #email > div {
        display: block;
        animation: none;
    }
    #email > div > p {
        font-size: 30px;
        margin-top: 50px;
        margin-right: 0;
        text-align: center;
    }
    /* 푸터 영역 */
    #footer {
        margin-top: 100px;
    }
    #footer > ul {
        justify-content: center;
    }
    #footer > ul > li {
        width: 20%;
        max-width: 65px;
        margin-right: 0;
        background-size: 70%;
    }
} /* media query (뷰포트 너비 <= 768px)*/

@media screen and (min-width: 769px) {
    /* Works - 회전 목마 */
    #wheel {
        position: relative;
        width: 340px;
        height: 440px;
        margin: 150px auto 0 auto;
        transform-style: preserve-3d;

        animation: spin 30s infinite linear;
    }

    @keyframes spin {
        from {transform: rotateX(-10deg) rotateY(0deg);}
        to {transform: rotateX(-10deg) rotateY(360deg);}
    }

    #wheel > li {
        position: absolute;
        top:0;
        left:0;
        width: 340px;
        height: 440px;
        transform-origin: center;
        transform-style: preserve-3d;
    }

    #wheel > li > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    #wheel > li > a > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #wheel > li:nth-child(1){transform:rotateY(0deg) translateZ(340px);}
    #wheel > li:nth-child(2){transform:rotateY(72deg) translateZ(340px);}
    #wheel > li:nth-child(3){transform:rotateY(144deg) translateZ(340px);}
    #wheel > li:nth-child(4){transform:rotateY(216deg) translateZ(340px);}
    #wheel > li:nth-child(5){transform:rotateY(288deg) translateZ(340px);}

    #wheel:hover {
        animation-play-state: paused;
    }
    #wheel > li > a:hover {
        cursor: pointer;
        transform: translateY(-20px) scale(1.1);
        transition: 500ms;
    }

} /* media query (뷰포트 너비 >= 769px) */