
body {
    background-image: url(../images/background_pink.jpg);
    font-family: 'Noto Sans KR', 'San-Serif';
    color: #333;

    /* 작업물 영역 이외의 스크롤 방지 */
    overflow: hidden;
}

/* 흰색 페이지 */
#page {
    background-color:#fffafa;
    width: 1400px;
    border-radius: 40px;

    margin: 50px auto 20px auto;
    overflow: hidden;
}
/* 헤더영역 */
#header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border-bottom: 2px solid #ffacac;
    padding: 35px;
    padding-bottom: 0;
}

#header > h1 {
    width: 200px;
    padding-left: 20px;
    padding-top: 10px;
    animation: slideright 1s;
}
#header > h1 > a {
    display: block;
}

#header > h1 > a > img {
    display: block;
    width: 100%;
}


/* Home 글자 브라우저 화면에서 숨기고, 스크린 리더기에서는 보이도록 설정 */
#header > h1 > a > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

/* language 버튼 */
#header > div > a {
    text-align: right;
    margin-bottom: 28px;

    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;

    animation: slideleft 1s ;
}

/* 메뉴 버튼 */
#toggle {display: none;}

#menu {display: flex;}

/* #header > div > ul > li { */
#menu > li {
    font-size: 20px;
    border: 2px solid #ffacac;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    margin-left: -1px;
    overflow: hidden;

    padding: 10px 10px 5px 10px;
}
#menu > li:nth-child(2) {
    border-bottom: 4px solid #fffafa;
    margin-bottom: -3px;
}

#menu > li > a {
    display: block;

    text-decoration: none;
    color: #333;
    animation: slideup 1s;
}

@keyframes slideup {
    from {transform: translateY(40px);}
    to {transform: translateY(0);}
}

@keyframes slideright {
    from {transform: translateX(-400px);}
    to {transform: translateX(0);}
}
@keyframes slideleft {
    from {transform: translateX(100px);}
    to {transform: translateX(0);}
}
/* 폭 고정 */
#fix {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
/*--------------------------------------------------------------------------------------------*/
#works {
    position: relative;
    height: 600px;
    overflow-y: scroll;
}
/* 스크롤바 안 보이게 설정 */
#works::-webkit-scrollbar {display: none;}

#works > li {
    border: 1px solid #333;
    width: 1000px;
    height: 500px;

    position: absolute;
    left: 50%;
    transform-origin: 50% 0;
    perspective-origin: 50% 0;
    transform: translateX(-50%) perspective(2500px) rotateX(-45deg);
}
#works > li > a {
    display: block;
}
#works > li:nth-child(1) {top: 50px; }
#works > li:nth-child(2) {top: 200px; z-index: 1;}
#works > li:nth-child(3) {top: 350px; z-index: 2;}
#works > li:nth-child(4) {top: 500px; z-index: 3;}
/* #works > li:nth-child(5) {top: 920px; z-index: 4;} */

#works > li:hover {
    transition: 100ms;
    transform: translateX(-50%) perspective(2500px) rotateX(-45deg) translateY(-10px);
}

/* #works > li > div */
.worksinfo {
    display: none;
}

/*--------------------------------------------------------------------------------------------*/
/* 푸터영역 */
#footer {
    display: none;
}