body {
    background-color:#fbf5e5;
    font-family: 'Noto Sans KR', sans-serif;
    color: #202020;
}
#header {
    font-size: 25px;
    background-color: #fff;
    line-height: 2.5;
    text-align: center;
    height: 2.5em;
    border-bottom: 3px solid #202020;

    position: relative;
}
/* back 버튼 */
#back {
    /* a 요소 기본 스타일 속성 제거 */
    color: #202020;
    text-decoration: none;
    text-align: right;

    position: absolute;
    right: 20px;

    font-size: 20px;
    line-height: 3;

    width: 65px;
    background-image: url(../images/works_back.png);
    background-repeat: no-repeat;
    background-position: -2px 37px;
}
#back:hover {
    cursor: pointer;
}

#fix {
    width: 960px;
    margin: 150px auto 0 auto;
}

/* 공통 스타일 속성 */
.section {
    margin-top: 100px;
}
.h2 {
    font-size: 25px;
    font-weight: 500;
}
.p {
    font-size: 16px;
    line-height: 1.6;
    padding-left: 15px;
}

/* h1 요소 */
#h1 {
    font-size: 30px;
    text-align: center;
}

/* section 1 - 로고 제작 */
#section1 > ul {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
#section1 > ul > li > img {
    max-width: 400px;
}
#section1 > ul > li > span {
    display: block;
    text-align: center;
    font-size: 16px;
}
#section1 > p {
    margin-top: 70px;
}

/* section 2 - 로고 활용 */
#section2 > ul {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
#section2 > ul > li > span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}

/* section 3 - 제품 디자인 */
#section3 > p {
    margin-top: 70px;
}
.creampot {
    margin-top: 50px;
    display: flex;
}
.creampot > img {
    display: block;
    max-width: 520px;
}
.creampot > p {
    margin: 25px 0 0 50px;
    line-height: 1.6;
}

#poster {margin-top: 100px;}
#poster > img {
    display: block;
    max-width:800px;
    margin: 0 auto;
}
#poster > span {
    display: block;
    text-align: center;
    margin-top: 50px;
}
/* section 4 - 홍보 배너 */
#section4 > div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#section4 > div > img {
    display: block;
    max-width: 500px;
}
#section4 > div > p {
    padding: 25px 0 0 50px;
    line-height: 1.8;
}
#section4 {margin-bottom: 100px;}