
/* --------------------------------------------------------------------------- */

.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: auto;
}

/* page 2 - full photo */
/* #page2 > header > h1 {
    background-image: url(../images/silica-gel-logo-main-grey.png);
}
#page2 > header > button.toggle {
    background-image: url(../images/menu_grey.png);
} */
.main {
    position: relative;
    overflow: hidden;
}
.logo-white, .main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.main-img {
    z-index: -1;
    object-fit: cover;
}
.logo-white {
    width: 20rem;
    height: auto;
    animation: rotate-infinite 4s linear infinite;
}
.logo-white:hover {
    animation-play-state: paused;
    mix-blend-mode: difference;
}
@keyframes rotate-infinite {
    from {transform: translate(-50%, -50%) rotate(0deg) translateZ(0);}
    to  {transform: translate(-50%, -50%) rotate(360deg) translateZ(0);}
}


/* page 3 - photodump */
.gallery {
    overflow: hidden;
    background-color: #000;
}
/* #page3 > header > h1 {
    background-image: url(../images/silica-gel-logo-main-grey.png);
}
#page3 > header > button.toggle {
    background-image: url(../images/menu_grey.png);
} */
.photodump {
    position: absolute;
    width: 90%;
    height: 217.22%;
    margin: 0 5%;

    top: 0;
}
.dump1{
    animation: photoscroll 10s linear infinite;
}
.dump2 {
    animation: photoscroll2 20s linear infinite;
}
@keyframes photoscroll {
    from {top: 0;}
    to {top: -217.22%;}
}
@keyframes photoscroll2 {
    from {top: 217.22%;}
    50% {top: 0;}
    to {top: -217.22%;}
}
.photodump > img {
    position: absolute;
    height: auto;
}
.photodump > img:nth-child(1) {width: 38%; top: 0; left: 0;}
.photodump > img:nth-child(2) {width: 27%; top: 15%; left: 34%;}
.photodump > img:nth-child(3) {width: 18%; top: 31%; right: 24%;}
.photodump > img:nth-child(4) {width: 23%; top: 35%; right: 0;}
.photodump > img:nth-child(5) {width: 37%; top: 43%; right: 31%;}
.photodump > img:nth-child(6) {width: 29%; top: 54%; left: 0;}
.photodump > img:nth-child(7) {width: 29%; top: 63%; right: 24%;}
.photodump > img:nth-child(8) {width: 24%; top: 72%; left: 15%;}
.photodump > img:nth-child(9) {width: 29%; bottom: 0; left: 0;}

.gallery_content {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5% 5rem auto;
}
.gallery_content > p {
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    line-height: 1.2;
    text-align: right;
    color: #fff;

    margin-bottom: 2rem;
}
.btn_photolink {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-family: 'GmarketSansMedium', cursive;
    font-size: 2.5rem;

    display: block;
    float: right;
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 0.2rem;
}

/* page 4 - eyesmag 아이즈매거진 */
/* #page4 > header > button.toggle {
    background-image: url(../images/menu_grey.png);
} */
.interview-split-wrap {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.interview-visual-side {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow: hidden;
}
.interview-visual-side, .interview-content-side {
    flex: 1;
}
.eyesmag .interview-content-side {
    width: 100%;
    background-color: #000;
}
.interview-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 6rem;

    padding: 10rem 5rem 5rem 5rem;
    
    height: 100%;
    box-sizing: border-box;
}
.interview-content-info {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.interview-content-h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    color: #fff;
    mix-blend-mode: difference;
}
.interview-content-p {
    font-family: 'GmarketSansMedium', cursive;
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;
}
.button-flexbox {
    display: flex;
    gap: 1.2rem;
}
.button-flexbox > a {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-family: 'GmarketSansMedium', cursive;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5rem;
    border: 1px solid #333;
    border-radius: 0.2rem;
}
.slide-fade {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.slide-fade > li {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* page 5 - 코스모폴리탄 */
.gallery-cosmopolitan {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.slide-carousel {
    width: 200%;
    display: flex;
    gap: 1rem;
}
.slide-carousel > li {
    width: 20%;
}
/* .cosmopolitan .split-content-side > h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 6rem;
}
.cosmopolitan .split-content-side > p {
    font-family: 'GmarketSansMedium', cursive;
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 6rem;
}
.cosmopolitan .split-content-side > a {
    color: #333;
    border: 1px solid #333;
    text-decoration: none;
    font-family: 'GmarketSansMedium', cursive;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
} */


/* page 6 - music*/
.music {
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(51,51,51,1) 100%);
}
.container {
    height: 100%;
    display: flex;
}
.article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-title {
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    transform: translateX(-23rem);
    transition-duration: 1000ms;

    width: 23rem;
}
.page.is-active .aside-title {
    transform: translateX(0);
}
.aside-title > span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 15rem;
    font-weight: 900;
    color: #f0f0f0;
}
.album_slide_container {
    max-width: 50rem;
    margin: 0 auto;

    position: relative;
}
.album_slide_wrap {
    width: 100%;
    max-width: 50rem;
    overflow: hidden;
    margin: 0 auto;
}
.album_slide_list {
    display: flex;
    background-color: transparent;
}
.album_slide_list > li {
    flex: 1;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    /* .back 요소의 위치지정요소가 되도록 설정 */
    position: relative;
}

.album_slide_list > li > .back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;

    opacity: 0;
}
.album_slide_list > li > .back:hover {
    opacity: 1;
}
.album_slide_list > li > .back > h3 {
    margin: 40% auto 4rem auto;
    font-size: 2rem;
}
.slide_prev_btn, .slide_next_btn {
    background-color: transparent;
    border: none;
    padding: 0;

    width: 5rem;
    height: 5rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slide_prev_btn:hover, .slide_next_btn:hover {
    cursor: pointer;
}
.slide_prev_btn {
    background-image: url(../images/prev_grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: calc(-5rem - 10%);
}
.slide_next_btn {
    background-image: url(../images/next_grey.png);
    right: calc(-5rem - 10%);
}

/* indicator 요소 위치 */
#indicator {
    /* indicator 요소의 위치지정요소는 #albumwrap(relative)*/
    position: absolute;
    width: 100%;
    bottom: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* indicator 요소의 동그라미 스타일 속성 */
#indicator > li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #d0d0d0;
    cursor: pointer;
}
#indicator > li:not(:last-child) {
    margin-right: 0.5rem;
}
#indicator > li.on {
    background-color: #d0d0d0;
    opacity: 0.8;
    cursor: default;
}
#indicator > li > span {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

/* more info 버튼 */
.more-info {
    /* a 요소 기본 스타일 속성 제거 */
    color: #d0d0d0;
    text-decoration: none;

    /* 위치 설정 */
    position: absolute;
    right: 5%;
    bottom: 10%;

    padding: 0 0.4rem 0.4rem 0;

    /* 배경 이미지 */
    background-image: url(../images/more_info_grey.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    /* 크기 설정 */
    display: block;
    width: 10rem;
    height: 1.6rem;
}



/* page 7 - news */
.news {
    background: linear-gradient(180deg, rgba(51,51,51,1) 50%, rgba(34,34,34,1) 100%);
}
/* #page7 > header > h1 {
    background-image: url(../images/silica-gel-logo-main-grey.png);
}
#page7 > header > button {
    background-image: url(../images/menu_grey.png);
} */
.news_list {
    width: 70%;
    /* margin: 5% auto 0 auto; */
}
.news_list > li {
    display: flex;
    margin-bottom: 2rem;
}
.news_list > li:last-child {margin-bottom: none;}

.news_list > li > .date {
    width: 12rem;
    color: #d0d0d0;
    margin-right: 2rem;
    line-height: 1.6;
}
.news_list > li > .title {
    color: #d0d0d0;
    font-size: 2rem;
    margin-top: 1rem;
    width: 100%;
    height: 100px;

    /* 가상요소 배치시 기준이 되도록 */
    position: relative;
}
.news_list > li > .title:before {
    content: "";

    /* p.date 요소를 기준으로 배치 */
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: 1rem;
    width: 0.1rem;
    border-right: 1px solid #d0d0d0;
}

/* 기사 리스트 more 버튼 */
.more {
    /* button 요소 기본 스타일 속성 제거 */
    background-color: transparent;
    border: none;
    padding: 0;

    width: 3rem;
    background-image: url(../images/next_grey.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    cursor: pointer;
}
/* page 8 - newsletter */
.newsletter {
    background: linear-gradient(90deg, rgba(34,34,34,1) 50%, rgba(32,32,32,1) 100%);
}
/* #page8 > header > h1 {
    background-image: url(../images/silica-gel-logo-main-grey.png);
}
#page8 > header > button {
    background-image: url(../images/menu_grey.png);
} */
.newsletter .aside-title {
    position: relative;
}
.newsletter .aside-title > span {
    font-size: 12rem;
}
.newsletter .aside-title > span:first-child {
    position: absolute;
    bottom: 20rem;
    left: 10rem;
}
.newsletter_container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* 실리카겔 image */
.newsletter_photo {
    position: absolute;
    max-width: 60rem;
    height: auto;
}
.newsletter_photo:first-child {width: 40%; left: 0; bottom: 10%;}
.newsletter_photo:nth-child(2) {width: 25%; top: 3%; right: 10%;}
.newsletter_photo:nth-child(3) {width: 40%; top: 5%; left: 10%;}

/* 뉴스레터 창 */
.newsletter_form {
    /* border: 2px solid #202020; */
    background-color: #fefefe;
    width: 50%;
    box-sizing: border-box;
    padding: 10% 15%;

    position: absolute;
    bottom: 3rem;
    right: 0;
    font-size: 2rem;
}
.email_form {
    width: 100%;
    margin: 1rem 0 2rem 0;
}
/* checkbox */
.check-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
}
.checkbox {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.submit_btn {
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #202020;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;

    position: absolute;
    right: 15%;
    cursor: pointer;
}

.alert {
    width: 40rem;
    line-height: 8;
    background-color: #ffffff;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-position: 38.5rem 0.5rem;
    background-size: 1rem;
    text-align: center;
    border: 2px solid #202020;
    margin: 3rem auto;

    position: absolute;
    bottom: 0;
    left: 50%;
}

/* 서서히 나타나는 효과 Class */
.fadeIn {
    animation: fadeIn 700ms linear;
}
@keyframes fadeIn {
    from {opacity: 0};
    to {opacity: 1};
}
